
<header class="relative py-4 lg:py-12">

  <div class="max-w-xl mx-auto text-center">
    <!-- Título principal con nueva fuente y animación -->
    <h1 class="text-base-800 font-hero md:text-5xl text-4xl">
      Accesorios para el Cabello y Artículos de Temporada
    </h1>

    <!-- Subtítulo en h2 como pediste -->
    <h2 class="text-orange-600 font-bold text-2xl mt-2">
      Venta Por Mayor
    </h2>

    <!-- Descripción -->
    <p class="mt-4 text-yellow-700 text-balance text-lg drop-shadow-md">
      <strong>Envíos a todo el país</strong>
    </p>

    <!-- Botones con más ruido visual -->
    <div class="flex justify-center flex-wrap gap-4 mt-8">
      <a
        class="px-6 py-3 font-bold text-sm bg-green-500 text-white rounded-full flex items-center justify-center hover:bg-green-600 shadow-lg border-4 border-green-700 w-fit"
        href="https://wa.me/5491168197021" target="_blank" rel="noopener"
      onclick="window.dataLayer = window.dataLayer || []; window.dataLayer.push({'event': 'whatsapp_click', 'button_location': 'hero'});">
        Comprar por WhatsApp
      </a>
      <a
        class="px-6 py-3 font-bold text-sm bg-yellow-400 text-base-900 rounded-full flex items-center justify-center hover:bg-yellow-500 shadow-lg border-4 border-yellow-600 w-fit"
        href="#ofertas"
      >
        Ver Ofertas
      </a>
    </div>
  </div>
</header>
