<footer class=" text-black py-4">
  <div class="max-w-6xl mx-auto px-4 text-center">
    <p class="text-sm">
      Copyright © 2024 Todos los derechos reservados ·
      <a href="/privacy-policy" class="hover:underline text-sm">Políticas de Privacidad · </a>
    	<a
        href="https://buenosaires.gob.ar/gobierno/atencion-ciudadana/defensa-al-consumidor"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="hover:underline text-sm"
>
  Defensa al Consumidor
</a>
	</p>
  </div>
</footer>

